openapi: 3.0.0
info:
  title: Maya Research - Maya1 API
  description: Generate speech using pre-designed voice characters with emotional intelligence. High-quality, consistent voice output for any application.
  version: 1.0.0
  termsOfService: https://mayaresearch.ai
  contact:
    name: Maya Research Support
    email: support@mayaresearch.ai
    url: https://mayaresearch.ai
  license:
    name: Proprietary
    url: https://mayaresearch.ai
servers:
  - url: https://v3.mayaresearch.ai
    description: Maya1 API Production server
security:
  - apiKeyAuth: []
paths:
  /v1/characters:
    get:
      summary: Get Characters
      description: Retrieve the list of available pre-designed voices
      operationId: getCharacters
      tags:
        - Maya1
      servers:
        - url: https://v3.mayaresearch.ai
      security:
        - apiKeyAuth: []
      responses:
        '200':
          description: Successfully retrieved voices
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    voice_id:
                      type: string
                      example: "Ava"
                    name:
                      type: string
                      example: "Ava"
                    description:
                      type: string
                      example: "Realistic female voice in the 20s age with a american accent. Normal pitch, warm timbre, conversational pacing, energetic tone delivery at medium intensity, podcast Domain, podcast_host role, casual delivery"
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/tts/generate:
    post:
      summary: Generate Speech with Maya1
      description: Generate speech using pre-designed character voices with emotional intelligence
      operationId: generateMaya1Speech
      tags:
        - Maya1
      servers:
        - url: https://v3.mayaresearch.ai
      security:
        - apiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - voice_id
                - text
              properties:
                voice_id:
                  type: string
                  description: The unique identifier of a pre-designed voice
                  enum:
                    - Ava
                    - Chloe
                    - Liam
                    - Noah
                    - James
                    - Emma
                    - Sophie
                    - Oliver
                    - AnimatedCartoon
                    - Anime
                    - Flirty
                    - Seductively
                    - AIMachineVoice
                    - Cyborg
                    - AlienSciFi
                    - Pirate
                    - Gangster
                    - DarkVillain
                    - Demon
                  example: "Ava"
                  x-enum-descriptions:
                    Ava: "Realistic female voice in the 20s age with american accent. Normal pitch, warm timbre, conversational pacing, energetic tone delivery at medium intensity, podcast Domain, podcast_host role, casual delivery"
                    Chloe: "Realistic female voice in the 20s age with british accent. Normal pitch, warm timbre, conversational pacing, energetic tone delivery at medium intensity, podcast Domain, podcast_host role, casual delivery"
                    Liam: "Realistic male voice in the 20s age with british accent. Normal pitch, warm timbre, conversational pacing, energetic tone delivery at medium intensity, podcast Domain, podcast_host role, casual delivery"
                    Noah: "Realistic male voice in the 20s age with american accent. Normal pitch, warm timbre, conversational pacing, energetic tone delivery at medium intensity, podcast Domain, podcast_host role, casual delivery"
                    James: "Realistic male voice in the 40s age with american accent. Normal pitch, warm timbre, conversational pacing, energetic tone delivery at medium intensity, podcast Domain, podcast_host role, casual delivery"
                    Emma: "Realistic female voice in the 40s age with american accent. Normal pitch, warm timbre, conversational pacing, energetic tone delivery at medium intensity, podcast Domain, podcast_host role, casual delivery"
                    Sophie: "Realistic female voice in the 40s age with british accent. Normal pitch, warm timbre, conversational pacing, energetic tone delivery at medium intensity, podcast Domain, podcast_host role, casual delivery"
                    Oliver: "Realistic male voice in the 40s age with british accent. Normal pitch, warm timbre, conversational pacing, energetic tone delivery at medium intensity, podcast Domain, podcast_host role, casual delivery"
                    AnimatedCartoon: "Creative, animated_cartoon character. Female voice in their 20s with a american accent. High pitch, warm timbre, brisk pacing, energetic tone at high intensity."
                    Anime: "Creative, anime character. Female voice in their 20s with a american accent. High pitch, warm timbre, brisk pacing, energetic tone at high intensity."
                    Flirty: "Creative, flirty character. Female voice in their 20s with a american accent. High pitch, warm timbre, slow pacing, excited tone at med intensity."
                    Seductively: "Creative, seductively character. Female voice in their 20s with a american accent. Low pitch, smooth timbre, very_slow pacing, neutral tone at low intensity."
                    AIMachineVoice: "Creative, ai_machine_voice character. Female voice in their 20s with a american accent. Normal pitch, robotic timbre, conversational pacing, neutral tone at med intensity."
                    Cyborg: "Creative, cyborg character. Female voice in their 20s with a american accent. Normal pitch, robotic timbre, conversational pacing, neutral tone at med intensity."
                    AlienSciFi: "Creative, alien_scifi character. Female voice in their 20s with a american accent. High pitch, ethereal timbre, fast pacing, neutral tone at med intensity."
                    Pirate: "Creative, pirate character. Male voice in their 30s with a american accent. Low pitch, gravelly timbre, conversational pacing, energetic tone at med intensity."
                    Gangster: "Creative, gangster character. Male voice in their 30s with a american accent. Low pitch, gravelly timbre, conversational pacing, neutral tone at med intensity."
                    DarkVillain: "Creative, dark_villain character. Male voice in their 30s with a american accent. Low pitch, harsh timbre, slow pacing, sarcastic tone at high intensity."
                    Demon: "Creative, demon character. Male voice in their 40s with a american accent. Low pitch, harsh timbre, slow pacing, neutral tone at high intensity."
                text:
                  type: string
                  description: The text to convert to speech.
                  example: "Welcome back to another episode of our podcast! Today we're diving into an absolutely fascinating topic that I know you're going to love. We've got some incredible insights to share with you, so let's get started right away."
                  maxLength: 5000
                stream:
                  type: boolean
                  description: Enable streaming audio generation
                  default: false
                  example: false
            examples:
              simple:
                summary: Simple generation
                value:
                  voice_id: "Ava"
                  text: "Welcome back to another episode of our podcast! Today we're diving into an absolutely fascinating topic that I know you're going to love."
                  stream: false
              streaming:
                summary: Streaming mode
                value:
                  voice_id: "Noah"
                  text: "Welcome back to another episode! Today we have something really special planned. Let's dive right in and explore this amazing topic together."
                  stream: true
      responses:
        '200':
          description: Successfully generated audio
          content:
            audio/wav:
              schema:
                type: string
                format: binary
                description: Generated audio file in WAV format
            audio/mp3:
              schema:
                type: string
                format: binary
                description: Generated audio file in MP3 format
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Unique request identifier
            X-Processing-Time:
              schema:
                type: string
              description: Time taken to process the request
            X-Voice-ID:
              schema:
                type: string
              description: Voice ID used for generation
        '400':
          description: Invalid request format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: invalid_request
                  message: "Missing required parameter: voice_id"
                  type: validation_error
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: authentication_failed
                  message: "Invalid API key"
                  type: auth_error
        '404':
          description: Character not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: voice_not_found
                  message: "Voice ID not found"
                  type: validation_error
        '413':
          description: Text too long
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: text_too_long
                  message: "Text exceeds 5,000 characters"
                  type: validation_error
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: internal_error
                  message: "An unexpected error occurred"
                  type: server_error
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key for Maya1 API authentication
  schemas:
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              description: Error code for programmatic handling
            message:
              type: string
              description: Human-readable error message
            type:
              type: string
              description: Error category
          required:
            - code
            - message
            - type
tags:
  - name: Maya1
    description: Maya1 API endpoints for character-based speech generation
