openapi: 3.0.0
info:
  title: Maya Research - VeenaMAX TTS API
  description: Advanced Text-to-Speech API with emotional intelligence for Indian languages. Convert text to natural-sounding speech in Hindi, English, and Hinglish with ultra-low latency.
  version: 1.0.0
  termsOfService: https://mayaresearch.ai
  contact:
    name: Maya Research Support
    email: support@mayaresearch.ai
    url: https://mayaresearch.ai
  license:
    name: Proprietary
    url: https://mayaresearch.ai
servers:
  - url: https://api.mayaresearch.ai
    description: Production server
security:
  - bearerAuth: []
paths:
  /generate:
    post:
      summary: Generate Speech
      description: Converts text into natural-sounding speech with emotional intelligence and ultra-fast response times
      operationId: generateSpeech
      tags:
        - Text-to-Speech
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - text
                - speaker_id
              properties:
                text:
                  type: string
                  description: The text to convert to speech (supports Hindi, English, Hinglish)
                  example: "Welcome to VeenaMAX, the most advanced text-to-speech API for Indian languages."
                speaker_id:
                  type: string
                  description: Voice identifier for speech generation
                  enum:
                    - charu_soft
                    - keerti_joy
                    - mohini_whispers
                    - maitri_connect
                    - soumya_calm
                    - vinaya_assist
                    - varun_chat
                    - agastya_impact
                  example: vinaya_assist
                streaming:
                  type: boolean
                  description: Enable streaming audio generation for real-time applications
                  default: false
                  example: false
                normalize:
                  type: boolean
                  description: Enable intelligent text normalization
                  default: true
                  example: true
            examples:
              english:
                summary: English text
                value:
                  text: "Your account balance is 50,000 rupees. Would you like to make a transaction?"
                  speaker_id: vinaya_assist
                  streaming: false
                  normalize: true
              hindi:
                summary: Hindi text (Devanagari)
                value:
                  text: "आपके खाते में पचास हजार रुपये हैं। क्या आप लेनदेन करना चाहेंगे?"
                  speaker_id: charu_soft
                  streaming: false
                  normalize: true
              hinglish:
                summary: Hinglish text
                value:
                  text: "Aapka balance hai 50,000 rupees. Transaction karna chahenge?"
                  speaker_id: varun_chat
                  streaming: false
                  normalize: true
              mixed:
                summary: Code-mixed text
                value:
                  text: "Sir, aapka loan approve ho gaya hai for 5 lakhs. Documents tomorrow tak submit kar dijiye please."
                  speaker_id: agastya_impact
                  streaming: false
                  normalize: true
      responses:
        '200':
          description: Successfully generated audio
          content:
            audio/wav:
              schema:
                type: string
                format: binary
                description: Generated audio file in WAV format
            audio/mp3:
              schema:
                type: string
                format: binary
                description: Generated audio file in MP3 format
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Unique request identifier
            X-Processing-Time:
              schema:
                type: string
              description: Time taken to process the request
        '400':
          description: Invalid request format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: invalid_request
                  message: "Missing required parameter: speaker_id"
                  type: validation_error
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: unauthorized
                  message: "Invalid or missing API key"
                  type: authentication_error
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: forbidden
                  message: "API quota exceeded"
                  type: permission_error
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: rate_limit_exceeded
                  message: "Too many requests. Please retry after 60 seconds"
                  type: rate_limit_error
          headers:
            Retry-After:
              schema:
                type: integer
              description: Number of seconds to wait before retrying
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: internal_error
                  message: "An unexpected error occurred"
                  type: server_error
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Use your API key in Bearer format - Bearer YOUR_API_KEY_HERE
  schemas:
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              description: Error code for programmatic handling
            message:
              type: string
              description: Human-readable error message
            type:
              type: string
              description: Error category
          required:
            - code
            - message
            - type
tags:
  - name: Text-to-Speech
    description: Endpoints for converting text to speech
